<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/bmw.css">
<div class="hyb">
<h1 class="h12">BMW</h1>
<div class="line"></div>
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
<h1 class="h11">Sheer driving pleasure</h1>
</div>
<div class="etoll">
    <h3>Our Road Side Assistance Number is : 1800-1006464 (toll free)
    </h3>
</div>
<!-- <div class="hys">
    <h1>Description</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem autem illo nisi commodi minima culpa perspiciatis, dolorum ipsa laudantium suscipit quaerat quae esse molestiae corrupti explicabo fugit beatae! Quia, explicabo!</p>

</div> -->
<section class="events">
    <div class="title">
        <h1>LATEST MODELS</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/images/v2.png" alt="">
            <h4>BMW i4</h4>
            <p>The first-ever fully-electric BMW i4 delivers outstanding dynamics with a high level of comfort and the ideal qualities to make it your daily driver. The five-door model comes equipped with fifth-generation BMW eDrive technology for sporty performance figures. With a long range of up to 590 kilometres* and five spacious full-sized seats, it is the perfect companion for any journey.</p>
            <a href="https://www.bmw.in/en/all-models/bmw-i/i4/2021/bmw-i4-highlights.html" class="ctn">learn more</a>
        </div>
        <div class="col">
            <img src="/images/v3.jpeg" alt="">
            <h4>MG ZS EV</h4>
            <p>The first all-electric BMW iX is a first of its kind in a future-oriented generation of automobiles. With fully-electric driving pleasure and newly-developed, precise and minimalist monolithic design, the BMW iX is a vision turned into reality. Discover the emblem of new era of mobility and electrify your sheer driving pleasure.</p>
            <a href="https://www.bmw.in/en/all-models/bmw-i/bmw-ix-new/2021/bmw-ix.html" class="ctn">learn more</a>
        </div>

    </div>
</section>

<section class="explore">
   <div class="explore-content">
    <h1>About the company.</h1>
    <div class="line"></div>
    <p>Bayerische Motoren Werke AG, abbreviated as BMW.BMW is a German multinational manufacturer of luxury vehicles and motorcycles headquartered in Munich, Bavaria. The corporation was founded in 1916 as a manufacturer of aircraft engines, which it produced from 1917 until 1918 and again from 1933 to 1945.</p>
    <!-- <a href="#" class="ctn">Learn more</a> -->
   </div>

</section>

<section class="tours">
    <div class="row">
        <div class="col content-col">
            <h1>UPCOMING CARS & LAUNCHES</h1>
            <div class="line"></div>
            <p>Here are some new upcoming BMW EV cars that may launch in feature.</p>
            <a href="https://www.cardekho.com/upcomingcars/electric" class="ctn">Learn more</a>
        </div>
        <div class="col image-col">
            <div class="image-gallery">
                <img src="/images/v5.webp" alt="">
                <img src="/images/v6.webp" alt="">
                <img src="/images/v7.jpg" alt="">
                <img src="/images/v8.webp" alt="">
            </div>
        </div>
    </div>
</section>

<!-- <section class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatum!</p>
    <p>copyright @2023</p>
</section> -->

<%- include("partials/footer"); -%>