<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/book.css">
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    
                    
                    <li>
                        <a href="#" class="nav-link px-0 align-middle name1">
                            <i class="fs-4 bi-table name"></i> <span class="ms-1 d-none d-sm-inline">Bookings</span></a>
                    </li>
                    
                    <br>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline name1">Brands</span></a>
                        <ul class="collapse nav flex-column ms-1 name1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 name1"> <span class="d-none d-sm-inline">Tata</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 name1"> <span class="d-none d-sm-inline">Hyundai</span> </a>
                            </li>
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 name1"> <span class="d-none d-sm-inline">Mahindra</span></a>
                            </li>
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 name1"> <span class="d-none d-sm-inline">MG</span></a>
                            </li>
                        </ul>
                    </li>
                    <br>

                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline name1">Check Availablity</span> </a>
                            <ul class="collapse nav flex-column ms-1 name1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 name1"> <span class="d-none d-sm-inline">Hatch Back</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 name1"> <span class="d-none d-sm-inline">Sedan</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 name1"> <span class="d-none d-sm-inline">SUV</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 name1"> <span class="d-none d-sm-inline">MPV</span> </a>
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle name1">
                            <i class="fs-4 bi-table name"></i> <span class="ms-1 d-none d-sm-inline">Rivews</span></a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <div class="container">

            </div>
            <div class="container">
                <img src="/images/white-electric-car-connected-power-260nw-1936505155.png" class="mainimg"alt="">
                <br><br>
                <h2><a href="#"class="name" >Brands</a></h2>
                <br><br>
                <div class="container">
                    <div class="owl-carousel owl-theme">
                        <div class="item mx-10">
                            <a href="#"><img src="/images/hyundai.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/mahindra-sport-utility-vehicle-hd.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/tata-motors-logo.webp" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                </div>
            </div>
            <br><br>
                <h2><a href="#"class="name" >Hatch Back</a></h2>
                <br><br>
                <div class="container">
                    <div class="owl-carousel owl-theme">
                        <div class="item mx-10">
                            <a href="#"><img src="/images/hyundai.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/mahindra-sport-utility-vehicle-hd.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/tata-motors-logo.webp" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                </div>
            </div>
            <br><br>
            <h2><a href="#"class="name" >Sedan</a></h2>
                <br><br>
                <div class="container">
                    <div class="owl-carousel owl-theme">
                        <div class="item mx-10">
                            <a href="#"><img src="/images/hyundai.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/mahindra-sport-utility-vehicle-hd.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/tata-motors-logo.webp" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                </div>
            </div>
            <br><br>
            <h2><a href="#"class="name" >SUV</a></h2>
                <br><br>
                <div class="container">
                    <div class="owl-carousel owl-theme">
                        <div class="item mx-10">
                            <a href="#"><img src="/images/hyundai.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/mahindra-sport-utility-vehicle-hd.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/tata-motors-logo.webp" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                </div>
            </div>
            <br><br>
            <h2><a href="#"class="name" >MPV</a></h2>
                <br><br>
                <div class="container">
                    <div class="owl-carousel owl-theme">
                        <div class="item mx-10">
                            <a href="#"><img src="/images/hyundai.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/mahindra-sport-utility-vehicle-hd.png" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/tata-motors-logo.webp" alt=""></a>
                        </div>  
                        <div class="item mx-10">
                            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
                        </div>  
                </div>
                <br><br>
</div>
<%- include("partials/footer"); -%>