<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/contact.css">
<div class="contact-form">
    <h1>Contact Us</h1>
    <div class="form">
        <label for="">Full Name</label>
        <input type="text" name="" value="" placeholder="Enter Your Name">
    </div>
    <div class="form">
        <label for="">Email</label>
        <input type="email" name="" value="" placeholder="Enter Your email">
    </div>
    <div class="form">
        <label for="">Phone Number</label>
        <input type="text" name="" value="" placeholder="Enter Your Phone Number">
    </div>
    <div class="form">
        <label for="">Give Feedback</label>
        <textarea name="" id="" cols="10" rows="5"></textarea>
    </div>
    <button class="btn btn-lg">Submit</button>
</div>
<%- include("partials/footer"); -%>