<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/every.css">
<div class="hyb">
    <h1 class="h12">HYUNDAI</h1>
    <div class="line"></div>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
    <h1 class="h11">POWER YOUR WORLD</h1>
    <a href="/hyundai" class="ctn">learn more</a>
    </div>
    <br>
    <br>
<div class="tata">
    <h1 class="h12">TATA</h1>
    <div class="line"></div>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
    <h1 class="h11">Leading Through Legacy</h1>
    <a href="/tata" class="ctn">learn more</a>
    </div>
    <br>
    <br>
<div class="hyb kia">
    <h1 class="gg">KIA</h1>
    <div class="line"></div>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
    <h1 class="h11">Movement that inspires</h1>
    <a href="/kia" class="ctn">learn more</a>
    </div>
<br>
<br>
<div class="hyb mg">
    <h1 class="h12">Morris Garages</h1>
    <div class="line"></div>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
    <h1 class="h11">Safety Fast! </h1>
    <a href="/morrisgarages" class="ctn">learn more</a>
    </div>
<br>
<%- include("partials/footer"); -%>