<%- include("partials/header");-%>
  <h1 align="center" style="text-decoration: none;
  font-family: 'Montserrat', sans-serif;">Welcome <%= name %></h1>
  <link rel="stylesheet" href="/css/style.css">     
    <div class="container">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                
                <div class="carousel-inner">
                  <div class="container carousel-item active" data-bs-interval="5000">
                    <img src="/images/undraw_By_my_car_re_j3jt.png" class="d-block slideimg1" height="400px" width="500px"alt="...">
                    
                  </div>
                  <div class="container carousel-item " data-bs-interval="3000">
                    <img src="/images/undraw_electric_car_b7hl.png" class="d-block" height="400px" width="500px"alt="...">
                    
                  </div>
                  <div class="container carousel-item" data-bs-interval="3000">
                    <img src="/images/undraw_Towing_re_wesa.png" class="d-block" height="400px" width="500px"alt="...">
                    
                  </div>
                </div>
                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <br><br>
    <div class="container">
    <h1 class="fs-3 mx-3">Select A Car Company</h1>
    <br><br>
    <div class="owl-carousel owl-theme">
        <div class="item mx-5">
            <a href="#"><img src="/images/hyundai.png" alt=""></a>
        </div>  
        <div class="item mx-10">
            <a href="#"><img src="/images/mahindra-sport-utility-vehicle-hd.png" alt=""></a>
        </div>  
        <div class="item mx-10">
            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
        </div>  
        <div class="item mx-10">
            <a href="#"><img src="/images/tata-motors-logo.webp" alt=""></a>
        </div>  
        <div class="item mx-10">
            <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
        </div>  
    </div>
    <br><br>
    <div class="container">
      <h1 class="fs-3 mx-3">Select a type of car u want</h1>
      <br><br>
      <div class="owl-carousel owl-theme">
          <div class="item mx-5">
              <a href="#"><img src="/images/hyundai.png" alt=""></a>
          </div>  
          <div class="item mx-10">
              <a href="#"><img src="/images/mahindra-sport-utility-vehicle-hd.png" alt=""></a>
          </div>  
          <div class="item mx-10">
              <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
          </div>  
          <div class="item mx-10">
              <a href="#"><img src="/images/tata-motors-logo.webp" alt=""></a>
          </div>  
          <div class="item mx-10">
              <a href="#"><img src="/images/AHSjhVUMxat6Shp7E3mwB8-1200-80.jpg" alt=""></a>
          </div>  
      </div>
      <div class="container">
        
      </div>
    <%- include("partials/footer"); -%>