<%- include("partials/header");-%>
<br>
  <link rel="stylesheet" href="/css/style.css">     
    <!-- <div class="container"> -->
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000">
                    
                      <div style="background-image: url(/images/c1.jpeg);
                      background-position: center ;
                      background-size: cover;
                      color: white;
                      padding-top: 10%;
                      padding-bottom: 10%;
                      height: 500px;
                      text-align: center;">
                      <h1 class="s1">Welcome To EVAssist Now</h1>
                      
                      </div>
                   
                  </div>
                  <div class="carousel-item " data-bs-interval="3000">
                    <div style="background-image: url(/images/c2.jpg);
                      background-position: center;
                      background-size: cover;
                      color: white;
                      padding-top: 10%;
                      padding-bottom: 10%;
                      height: 500px;
                      text-align: left;">
                      <h1 class="s4">Explore Our Website For The Road Side Assistance Number Of The Cars Listed Below</h1>
                        
                    </div>
                    
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <div style="background-image: url(/images/c3.jpeg);
                      background-position: center;
                      background-size: cover;
                      color: white;
                      padding-top: 10%;
                      padding-bottom: 10%;
                      height: 500px;
                      text-align: center;
                      text-decoration: none;
                      ">
                      <h1 class="s3">Why Electric Vechiles</h1>
                        <p class="p3">
                            Transport is a fundamental requirement of modern life, but the traditional combustion engine is quickly becoming outdated. Petrol or diesel vehicles are highly polluting and are being quickly replaced by fully electric vehicles. Fully electric vehicles (EV) have zero tailpipe emissions and are much better for the environment. The electric vehicle revolution is here, and you can be part of it. Will your next vehicle be an electric one?
                            Write a review to let us know.
                          </p>
                    </div>
                  </div>
                  <!-- <div class="carousel-item" data-bs-interval="3000">
                    <a href="/tata"><div style="background-image: url(https://i0.wp.com/www.smartprix.com/bytes/wp-content/uploads/2022/05/nexon-ev-max.png?ssl=1);
                      background-position: center;
                      background-size: cover;
                      color: white;
                      padding-top: 10%;
                      padding-bottom: 10%;
                      height: 500px;
                      text-align: center;"></div></a>
                  </div> -->
                </div>
                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        <!-- </div> -->
        <br>
        <div class="ho1">
          <h1>ROAD SIDE ASSISTANCE FOR EV</h1>
          <div class="line"></div>
          <p>Choose your vechile company from below.</p>
        </div>
    <div class="container">
    <h1 class="fs-3 mx-3 ho3">Select A Car Company</h1>
    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;height: 12px;" />

    <br>
    <div class="owl-carousel owl-theme ho4">
        <div class="item mx-5 r1">
            <a href="/hyundai"><img src="/images/hyundai.png" alt=""></a>
        </div>  
        <div class="item mx-5 r1">
            <a href="/kia"><img src="/images/kialogo.webp" alt=""></a>
        </div>  
        <div class="item mx-5 r1">
            <a href="/tata"><img src="/images/tata-motors-logo.webp" alt=""></a>
        </div>  
        <div class="item mx-5 r1">
            <a href="/morrisgarages"><img src="/images/mglogo.jpg" alt=""></a>
        </div>  
        <div class="item mx-5 r1">
            <a href="/mercedes"><img src="/images/mlogo.jpg" alt=""></a>
        </div>  
        <div class="item mx-5 r1">
            <a href="/bmw"><img src="/images/bmwlogo.webp" alt=""></a>
        </div>  
    </div>
  </div>
    <div class="ho2">
     <h1>ABOUT OUR WEBSITE</h1>
     <div class="line"></div>
     <p class="text1">We created this website just to simplify the users usage on wasting time on searching the road side assistance numbers. So here we came up an idea that why not we directly put the main content which is required for the user and save their time. </p>
    </div>
    <br>
<%- include("partials/footer"); -%>
