<%- include("partials/header");-%>
<br>
  <link rel="stylesheet" href="/css/style.css">     
    <!-- <div class="container"> -->
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000">
                    <a href="/kia"><img src="https://editorial.pxcrush.net/carsales/general/editorial/2022-kia-ev6-06-onm8.jpg" class="d-block" height="400px" width="500px"alt="..."></a>
                    
                  </div>
                  <div class="carousel-item " data-bs-interval="3000">
                    <a href="/hyundai"><img src="https://www.hyundai.com/content/dam/hyundai/in/en/data/vehicle-thumbnail/Ioniq5_pc.png" style="background-position: center;
                      background-size: cover;" class="d-block" height="400px" width="500px"alt="..."></a>
                    
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <a href="/tata"><img src="/images/undraw_electric_car_b7hl.png" class="d-block" height="400px" width="500px"alt="..."></a>
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <a href="/morrisgarages"><img src="/https://stimg.cardekho.com/images/carexteriorimages/930x620/MG/ZS-EV/6873/1612778753498/front-left-side-47.jpg" class="d-block" height="400px" width="500px"alt="..."></a>
                  </div>
                </div>
                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        <!-- </div> -->
        <br>
        <div class="ho1">
          <h1>ROAD SIDE ASSISTANCE FOR EV</h1>
          <div class="line"></div>
          <p>Choose your vechile company from below.</p>
        </div>
    <div class="container">
    <h1 class="fs-3 mx-3 ho3">Select A Car Company</h1>
    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;height: 12px;" />

    <br>
    <div class="owl-carousel owl-theme ho4">
        <div class="item mx-5">
            <a href="/hyundai"><img src="/images/hyundai.png" alt=""></a>
        </div>  
        <div class="item mx-5">
            <a href="/kia"><img src="https://www.cnet.com/a/img/resize/a464685b95408fa5fb8816e21e4cede856a59895/hub/2021/01/06/19ab53c1-6b8d-4f44-a89a-b84fc7f825e8/ogi-kia.jpg?auto=webp" alt=""></a>
        </div>  
        <div class="item mx-5">
            <a href="/tata"><img src="/images/tata-motors-logo.webp" alt=""></a>
        </div>  
        <div class="item mx-5">
            <a href="/morrisgarages"><img src="https://seeklogo.com/images/M/morris-garages-logo-87523DB5B2-seeklogo.com.jpg" alt=""></a>
        </div>  
    </div>
  </div>
    <div class="ho2">
     <h1>ABOUT OUR WEBSITE</h1>
     <div class="line"></div>
     <p class="text1">We created this website just to simplify the users usage on wasting time on searching the road side assistance numbers. So here we came up an idea that why not we directly put the main content which is required for the user and save their time. </p>
    </div>
    <br>
<%- include("partials/footer"); -%>