<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/hy.css">
<div class="hyb">
<h1>HYUNDAI</h1>
<div class="line"></div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p>
</div>
<div class="hys">
    <h1>Description</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem autem illo nisi commodi minima culpa perspiciatis, dolorum ipsa laudantium suscipit quaerat quae esse molestiae corrupti explicabo fugit beatae! Quia, explicabo!</p>

</div>
<section class="events">
    <div class="title">
        <h1>Upcoming Events</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTArBuowGRRahPDNqIZHcTyJJiFRcu2jvxyPEmDtGohSA&s" alt="">
            <h4>Everest camp tent</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, totam officiis molestiae quae alias quam sapiente fugit soluta nisi suscipit. Corporis cum quod aperiam rem, similique nisi consequuntur necessitatibus esse?</p>
            <a href="#" class="ctn">learn more</a>
        </div>
        <div class="col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ_Zg_ph9Qp9iATS_1zDPCplvgmanI9RLK8XT2bvaBLQ&s" alt="">
            <h4>Everest camp tent</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, totam officiis molestiae quae alias quam sapiente fugit soluta nisi suscipit. Corporis cum quod aperiam rem, similique nisi consequuntur necessitatibus esse?</p>
            <a href="#" class="ctn">learn more</a>
        </div>

    </div>
</section>

<section class="explore">
   <div class="explore-content">
    <h1>EXPLORE THE WEBSITE</h1>
    <div class="line"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, facere ipsa animi dolor commodi, veritatis, dicta ratione earum qui minus temporibus iure totam architecto corporis deserunt!</p>
    <a href="#" class="ctn">Learn more</a>
   </div>

</section>

<section class="tours">
    <div class="row">
        <div class="col content-col">
            <h1>UPCOMING TOURS & EVENTS</h1>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor corrupti, saepe atque repellendus fuga accusamus?</p>
            <a href="#" class="ctn">Learn more</a>
        </div>
        <div class="col image-col">
            <div class="image-gallery">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOWwFh6QKOkso9x9HgW0_y5PPWLLSeDGIGKg&usqp=CAU" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOWwFh6QKOkso9x9HgW0_y5PPWLLSeDGIGKg&usqp=CAU" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOWwFh6QKOkso9x9HgW0_y5PPWLLSeDGIGKg&usqp=CAU" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOWwFh6QKOkso9x9HgW0_y5PPWLLSeDGIGKg&usqp=CAU" alt="">
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatum!</p>
    <p>copyright @2023</p>
</section>

<%- include("partials/footer"); -%>