<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/cars.css">
<div class="hyb">
<h1 class="h12">HYUNDAI</h1>
<div class="line"></div>
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
<h1 class="h11">POWER YOUR WORLD</h1>
</div>
<div class="etoll">
    <h3>Our Road Side Assistance Number is : 1800 102 4645 (toll free)
    </h3>
</div>
<!-- <div class="hys">
    <h1>Description</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem autem illo nisi commodi minima culpa perspiciatis, dolorum ipsa laudantium suscipit quaerat quae esse molestiae corrupti explicabo fugit beatae! Quia, explicabo!</p>

</div> -->
<section class="events">
    <div class="title">
        <h1>LATEST MODELS</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://www.hyundai.com/content/dam/hyundai/in/en/data/vehicle-thumbnail/Ioniq5_pc.png" alt="">
            <h4>IONIQ 5</h4>
            <p>The Hyundai Ioniq is a compact five-door liftback manufactured and marketed by Hyundai. The nameplate Ioniq is a portmanteau of ion and unique. It is marketed as the first automobile to be offered without a standard internal combustion engine, but rather sold in hybrid, plug-in hybrid, and all-electric variants.</p>
            <a href="https://ioniq5.hyundai.co.in/" class="ctn">learn more</a>
        </div>
        <div class="col">
            <img src="https://www.hyundai.com/content/dam/hyundai/in/en/data/vehicle-thumbnail/Thumbnail-pc-kona.png" alt="">
            <h4>KONA Electric</h4>
            <p>Hyundai Kona Electric is a 5 seater SUV available in a price range of Rs. 23.84 - 24.03 Lakh*. It is available in 2 variants, a -, / and a single Automatic transmission. Other key specifications of the Kona Electric include a kerb weight of and boot space of Liters. The Kona Electric is available in 5 colours.</p>
            <a href="https://www.hyundai.com/in/en/find-a-car/kona-electric/highlights.html" class="ctn">learn more</a>
        </div>

    </div>
</section>

<section class="explore">
   <div class="explore-content">
    <h1>EXPLORE THE WEBSITE</h1>
    <div class="line"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, facere ipsa animi dolor commodi, veritatis, dicta ratione earum qui minus temporibus iure totam architecto corporis deserunt!</p>
    <a href="#" class="ctn">Learn more</a>
   </div>

</section>

<section class="tours">
    <div class="row">
        <div class="col content-col">
            <h1>UPCOMING TOURS & EVENTS</h1>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor corrupti, saepe atque repellendus fuga accusamus?</p>
            <a href="#" class="ctn">Learn more</a>
        </div>
        <div class="col image-col">
            <div class="image-gallery">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOWwFh6QKOkso9x9HgW0_y5PPWLLSeDGIGKg&usqp=CAU" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOWwFh6QKOkso9x9HgW0_y5PPWLLSeDGIGKg&usqp=CAU" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOWwFh6QKOkso9x9HgW0_y5PPWLLSeDGIGKg&usqp=CAU" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOWwFh6QKOkso9x9HgW0_y5PPWLLSeDGIGKg&usqp=CAU" alt="">
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatum!</p>
    <p>copyright @2023</p>
</section>

<%- include("partials/footer"); -%>