<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/kia.css">
<div class="hyb">
<h1 class="h12">KIA</h1>
<div class="line"></div>
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
<h1 class="h11">Movement that inspires</h1>
</div>
<div class="etoll">
    <h3>Our Road Side Assistance Number is : 1800 108 5000 (toll free)
    </h3>
</div>
<!-- <div class="hys">
    <h1>Description</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem autem illo nisi commodi minima culpa perspiciatis, dolorum ipsa laudantium suscipit quaerat quae esse molestiae corrupti explicabo fugit beatae! Quia, explicabo!</p>

</div> -->
<section class="events">
    <div class="title">
        <h1>LATEST MODELS</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://editorial.pxcrush.net/carsales/general/editorial/2022-kia-ev6-06-onm8.jpg" alt="">
            <h4>KIA EV6</h4>
            <p>Launched the new feature-packed Nexon EV MAX XM variant, at an attractive price of ₹16.49L. Its Proven & trusted. 40.5kWh Battery pack. Driven over 600M kms. Go.ev with India's #1 EV. Auto Vehicle Hold. Branded Infotainment. Air Purifier with AQI.</p>
            <a href="https://www.kia.com/in/our-vehicles/ev6/showroom.html?utm_source=google&utm_medium=sem&utm_campaign=search_ev6_brand&gclid=CjwKCAiAoL6eBhA3EiwAXDom5hZGCQxKwyBdtYO7JSbrNnJqoBkMQYDG0pwgnRxDbAeCsorPAYI2VxoCaBYQAvD_BwE" class="ctn">learn more</a>
        </div>
        <div class="col">
            <img src="https://cdni.autocarindia.com/ExtraImages/20220322040621_Kia_EV6_front.jpg" alt="">
            <h4>KIA EV6</h4>
            <p>With 4 star GNCAP rating, ARAI certified range of 315 km and Fast charging in 59 min. T&C. Fully automatic drives with instant power & acceleration. Races from 0-60km/h in 5.7 sec. Find the nearest dealer. Book Now. Smart Drives Features. Download Brochure.</p>
            <a href="https://www.kia.com/in/our-vehicles/ev6/showroom.html?utm_source=google&utm_medium=sem&utm_campaign=search_ev6_brand&gclid=CjwKCAiAoL6eBhA3EiwAXDom5hZGCQxKwyBdtYO7JSbrNnJqoBkMQYDG0pwgnRxDbAeCsorPAYI2VxoCaBYQAvD_BwEhttps://www.kia.com/in/our-vehicles/ev6/showroom.html?utm_source=google&utm_medium=sem&utm_campaign=search_ev6_brand&gclid=CjwKCAiAoL6eBhA3EiwAXDom5hZGCQxKwyBdtYO7JSbrNnJqoBkMQYDG0pwgnRxDbAeCsorPAYI2VxoCaBYQAvD_BwE" class="ctn">learn more</a>
        </div>

    </div>
</section>

<section class="explore">
   <div class="explore-content">
    <h1>About the company.</h1>
    <div class="line"></div>
    <p>Kia Corporation was founded in May 1944 and is Korea's oldest manufacturer of motor vehicles. From humble origins making bicycles and motorcycles, Kia has grown – as part of the dynamic, global Hyundai-Kia Automotive Group – to become the world's fifth largest vehicle manufacturer.</p>
    <!-- <a href="#" class="ctn">Learn more</a> -->
   </div>

</section>

<section class="tours">
    <div class="row">
        <div class="col content-col">
            <h1>UPCOMING CARS & LAUNCHES</h1>
            <div class="line"></div>
            <p>Here are some new upcoming KIA EV cars that may launch in feature.</p>
            <a href="https://www.cardekho.com/upcomingcars/electric" class="ctn">Learn more</a>
        </div>
        <div class="col image-col">
            <div class="image-gallery">
                <img src="https://motoroctane.com/wp-content/uploads/2022/11/Untitled-design-6-5.jpg" alt="">
                <img src="https://i0.wp.com/www.smartprix.com/bytes/wp-content/uploads/2022/05/tata-EVs.png?fit=1200%2C675&ssl=1" alt="">
                <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/body-image/public/sp.jpg?itok=98urAc2i" alt="">
                <img src="https://www.talkingtrendo.com/wp-content/uploads/2020/02/Mahindra-eXUV300-image.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- 
<section class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatum!</p>
    <p>copyright @2023</p>
</section> -->

<%- include("partials/footer"); -%>
