<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/mg.css">
<div class="hyb">
<h1 class="h12">MORRIS GARAGES</h1>
<div class="line"></div>
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
<h1 class="h11">POWER YOUR WORLD</h1>
</div>
<div class="etoll">
    <h3>Our Road Side Assistance Number is : 1800-1006464 (toll free)
    </h3>
</div>
<!-- <div class="hys">
    <h1>Description</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem autem illo nisi commodi minima culpa perspiciatis, dolorum ipsa laudantium suscipit quaerat quae esse molestiae corrupti explicabo fugit beatae! Quia, explicabo!</p>

</div> -->
<section class="events">
    <div class="title">
        <h1>LATEST MODELS</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://imgd-ct.aeplcdn.com/664x415/n/cw/ec/110437/zs-ev-exterior-left-rear-three-quarter.jpeg?isig=0&q=75" alt="">
            <h4>MG ZS EV</h4>
            <p>MG Motor India on Monday said it has launched the all-new version of ZS EV in the country with price starting at Rs 21.99 lakh (ex-showroom). The all-new ZS EV will be available in two variants -- Excite and Exclusive, priced at Rs 21.99 lakh and Rs 25.88 lakh, respectively.</p>
            <a href="https://www.mgmotor.co.in/vehicles/mgzsev-electric-car-in-india" class="ctn">learn more</a>
        </div>
        <div class="col">
            <img src="https://imgd.aeplcdn.com/0x0/n/cw/ec/44285/mg-zs-ev-interior-15.jpeg?wm=1" alt="">
            <h4>MG ZS EV</h4>
            <p>Its a really an awesome car, very comfortable with figure-hugging seats. Soft-touch sides and dash generally look much more valuable. Higher-spec car. After driving for a while I can honestly say that the MG ZS EV is a really nice place to be. The panoramic sunroof is just pure Zen. This is how to drive and experience mindfulness at the same time.</p>
            <a href="https://www.mgmotor.co.in/vehicles/mgzsev-electric-car-in-india" class="ctn">learn more</a>
        </div>

    </div>
</section>

<section class="explore">
   <div class="explore-content">
    <h1>EXPLORE THE WEBSITE</h1>
    <div class="line"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, facere ipsa animi dolor commodi, veritatis, dicta ratione earum qui minus temporibus iure totam architecto corporis deserunt!</p>
    <a href="#" class="ctn">Learn more</a>
   </div>

</section>

<section class="tours">
    <div class="row">
        <div class="col content-col">
            <h1>UPCOMING TOURS & EVENTS</h1>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor corrupti, saepe atque repellendus fuga accusamus?</p>
            <a href="#" class="ctn">Learn more</a>
        </div>
        <div class="col image-col">
            <div class="image-gallery">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsKM6PkyUPsnGkXkFxJQ4K_mrsomeX5h3g7WFfNmaeuMuFIZlFTaPT9-Oio8KgvKxzgmI&usqp=CAU" alt="">
                <img src="https://img.indianautosblog.com/gallery/2021/05/12/mg-zs-ev-red-front-three-quarters-1-9c9f.jpg" alt="">
                <img src="https://www.datocms-assets.com/49357/1626742364-journeys-onroad-mg-hero.jpg?auto=format&fit=crop&h=640&w=1366" alt="">
                <img src="https://www.mgcc.co.uk/buyinganmg/wp-content/uploads/sites/59/2020/04/MG-Winter-Check-1024x682.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- <section class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatum!</p>
    <p>copyright @2023</p>
</section> -->

<%- include("partials/footer"); -%>
