<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/mg.css">
<div class="hyb">
<h1 class="h12">MORRIS GARAGES</h1>
<div class="line"></div>
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
<h1 class="h11">Safety Fast!</h1>
</div>
<div class="etoll">
    <h3>Our Road Side Assistance Number is : 1800-1006464 (toll free)
    </h3>
</div>
<!-- <div class="hys">
    <h1>Description</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem autem illo nisi commodi minima culpa perspiciatis, dolorum ipsa laudantium suscipit quaerat quae esse molestiae corrupti explicabo fugit beatae! Quia, explicabo!</p>

</div> -->
<section class="events">
    <div class="title">
        <h1>LATEST MODELS</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/images/m2.webp" alt="">
            <h4>MG ZS EV</h4>
            <p>MG Motor India on Monday said it has launched the all-new version of ZS EV in the country with price starting at Rs 21.99 lakh (ex-showroom). The all-new ZS EV will be available in two variants -- Excite and Exclusive, priced at Rs 21.99 lakh and Rs 25.88 lakh, respectively.</p>
            <a href="https://www.mgmotor.co.in/vehicles/mgzsev-electric-car-in-india" class="ctn">learn more</a>
        </div>
        <div class="col">
            <img src="/images/m3.jpeg" alt="">
            <h4>MG ZS EV</h4>
            <p>Its a really an awesome car, very comfortable with figure-hugging seats. Soft-touch sides and dash generally look much more valuable. Higher-spec car. After driving for a while I can honestly say that the MG ZS EV is a really nice place to be. The panoramic sunroof is just pure Zen. This is how to drive and experience mindfulness at the same time.</p>
            <a href="https://www.mgmotor.co.in/vehicles/mgzsev-electric-car-in-india" class="ctn">learn more</a>
        </div>

    </div>
</section>

<section class="explore">
   <div class="explore-content">
    <h1>About the company.</h1>
    <div class="line"></div>
    <p>MG Motor, or Morris Garages, is a British marque known for its sports cars and mini cars. It was founded in 1924 by Cecil Kimber. Over the years, with its glorious history, the ownership of the company has changed hands across diversified business conglomerates to finally being owned by Chinese state-run SAIC Motor.</p>
    <!-- <a href="#" class="ctn">Learn more</a> -->
   </div>

</section>

<section class="tours">
    <div class="row">
        <div class="col content-col">
            <h1>UPCOMING CARS & LAUNCHES</h1>
            <div class="line"></div>
            <p>Here are some new upcoming MORRIS GARAGES EV cars that may launch in feature.</p>
            <a href="https://www.cardekho.com/upcomingcars/electric" class="ctn">Learn more</a>
        </div>
        <div class="col image-col">
            <div class="image-gallery">
                <img src="/images/m5.jfif" alt="">
                <img src="/images/m6.jpg" alt="">
                <img src="/images/m7.avif" alt="">
                <img src="/images/m8.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- <section class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatum!</p>
    <p>copyright @2023</p>
</section> -->

<%- include("partials/footer"); -%>
