<!-- <%- include("partials/header");-%> -->
<link rel="stylesheet" href="/css/login.css">

<div class="container">
    <div class="center">
        <h1>Sign Up</h1>
        <form action="/register" method="POST">
            <div class="txt_field">
                <input type="text" name = "username"required>
                <span></span>
                <label >Full Name</label>

            </div>
            <div class="txt_field">
                <input type="email" name = "email" required>
                <span></span>
                <label >Email Adress </label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label >Password</label>
            </div>
            <input type="submit" value="Sign Up">
            <div class="signup_link">
                Already Have an Account?<a href="/login">Login</a>
            </div>
        </form>
    </div>

</div>
<!-- <%- include("partials/footer"); -%> -->