<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/login.css">

<div class="container">
    <div class="center">
        <h1>Reviews</h1>
        <form action="/rivews" method="POST">
            <div class="txt_field">
                <input type="text" name = "username"required>
                <span></span>
                <label >Full Name</label>

            </div>
            <div class="txt_field">
                <input type="email" name = "email" required>
                <span></span>
                <label >Email Adress </label>
            </div>
            <div class="txt_field">
                <p style="text-decoration: underline;">Review</p>
                <textarea  name="rivew" rows="10" cols="40"></textarea>
                <span></span>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>

</div>
<!-- <%- include("partials/footer"); -%> -->
