<%- include("partials/header");-%>
<link rel="stylesheet" href="/css/tata.css">
<div class="hyb">
<h1 class="h12">TATA</h1>
<div class="line"></div>
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque repellendus debitis cum architecto facilis iusto sed veniam, quae rem facere asperiores saepe blanditiis unde numquam necessitatibus aperiam minima fugiat.</p> -->
<h1 class="h11">POWER YOUR WORLD</h1>
</div>
<div class="etoll">
    <h3>Our Road Side Assistance Number is : 1800 209 8282 (toll free)
    </h3>
</div>
<!-- <div class="hys">
    <h1>Description</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem autem illo nisi commodi minima culpa perspiciatis, dolorum ipsa laudantium suscipit quaerat quae esse molestiae corrupti explicabo fugit beatae! Quia, explicabo!</p>

</div> -->
<section class="events">
    <div class="title">
        <h1>LATEST MODELS</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://cdni.autocarindia.com/ExtraImages/20210108070223_Nexon_EV_opening.jpg" alt="">
            <h4>TATA NEXON EV</h4>
            <p>Launched the new feature-packed Nexon EV MAX XM variant, at an attractive price of ₹16.49L. Its Proven & trusted. 40.5kWh Battery pack. Driven over 600M kms. Go.ev with India's #1 EV. Auto Vehicle Hold. Branded Infotainment. Air Purifier with AQI.</p>
            <a href="https://nexonev.tatamotors.com/book-a-test-drive/?utm_source=google&utm_medium=cpc&utm_campaign=Nexon_Ev_North_Exact&gclid=CjwKCAiAoL6eBhA3EiwAXDom5lDQtDdBSmdUQHaSwn-uGNUQCcYHMfrBooeuTe6onQCvx2tm4piv-hoCdZ4QAvD_BwE" class="ctn">learn more</a>
        </div>
        <div class="col">
            <img src="https://www.tatamotors.com/wp-content/uploads/2021/08/18031050/press-18aug21-01.jpg" alt="">
            <h4>TATA TIGOR EV</h4>
            <p>With 4 star GNCAP rating, ARAI certified range of 315 km and Fast charging in 59 min. T&C. Fully automatic drives with instant power & acceleration. Races from 0-60km/h in 5.7 sec. Find the nearest dealer. Book Now. Smart Drives Features. Download Brochure.</p>
            <a href="https://tigorev.tatamotors.com/test-drive/?utm_source=google&utm_medium=cpc&utm_campaign=Tigor_brand_Exact&gclid=CjwKCAiAoL6eBhA3EiwAXDom5rM8ChV_dTu5FvvpEZWTdakUyylLsAVZJdqBgQW9ShaKIOkZN6zxPRoCYHgQAvD_BwE" class="ctn">learn more</a>
        </div>

    </div>
</section>

<section class="explore">
   <div class="explore-content">
    <h1>EXPLORE THE WEBSITE</h1>
    <div class="line"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, facere ipsa animi dolor commodi, veritatis, dicta ratione earum qui minus temporibus iure totam architecto corporis deserunt!</p>
    <a href="#" class="ctn">Learn more</a>
   </div>

</section>

<section class="tours">
    <div class="row">
        <div class="col content-col">
            <h1>UPCOMING TOURS & EVENTS</h1>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor corrupti, saepe atque repellendus fuga accusamus?</p>
            <a href="#" class="ctn">Learn more</a>
        </div>
        <div class="col image-col">
            <div class="image-gallery">
                <img src="https://images.livemint.com/img/2022/04/29/1600x900/tatamotors1_1651215065329_1651215072792.png" alt="">
                <img src="https://i0.wp.com/www.smartprix.com/bytes/wp-content/uploads/2022/05/tata-EVs.png?fit=1200%2C675&ssl=1" alt="">
                <img src="https://d2m3nfprmhqjvd.cloudfront.net/blog/20220228144342/Tata-Sierra-EV-feature.jpg" alt="">
                <img src="https://cdni.autocarindia.com/ExtraImages/20200211014701_Tata-ev-platform-1.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- <section class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatum!</p>
    <p>copyright @2023</p>
</section> -->

<%- include("partials/footer"); -%>