<%- include("partials/header");-%>
<h1 align = " center">Thank You For Your Rivew</h1>
<!-- <div ><a href="/" align = "center"style="text-decoration: none; color: black;text-align:center;">HOME</a></div> -->
<%- include("partials/footer"); -%>