<%- include("partials/header");-%>
<h1 align = " center" style="padding-top: 15%;">Thank You For Your Rivew</h1>
<!-- <div ><a href="/" align = "center"style="text-decoration: none; color: black;text-align:center;">HOME</a></div> -->
<!-- <%- include("partials/footer"); -%> -->