@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&family=Sacramento&display=swap');
*{
    margin: 0px;
   
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
  
   background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}
.contact-form{
    width: 85%;
    max-width: 600px;
    background: #DFF6FF;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 40px;
    border-radius: 8px;
    text-align: center;
    
}
.form{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 7px 0px;
    padding: 6px 20px;
    border-radius: 8px;

}
.contact-form h1{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    margin-top: 0px;

}
.form label{
    font-size: 13px;
    color: #000;
    display: block;
    text-align: left;
    text-transform: uppercase;
}
.form input,.form textarea{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 19px;
    margin-top: 5px;
    border: none;
    background: none;
    outline: none;
}
.btn{

    /* color:#fff; */
   color:  #fff;
  background: #06283D;
  

}