.hyb{
    /* background-color: aquamarine; */
    background-image: url(/images/t1.webp);
    background-position: top;
    background-size: cover;
    

    color: white;
    padding-top: 17%;
    padding-bottom: 17%;
    text-align:center;
}
.h12{
    color: black;
}
.h11{
    color: white;
}
.hyb h1 p{
    font-size: 4vmin;
}
p{
    /* text-size-adjust: 100%; */
    font-size: 30px;
}
    
.hyb p{
    color: white;
}
.hys p{
    color: lightgray;
}
.line{
    width: 100px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;

}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
/* section */
section{
    width: 80%;
    margin: 80px auto;

}
.title{
    text-align: center ;
    font-size: 4vmin;
    color: cadetblue;
}
.title h1{
    color: black;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}
img{
    width: 80%;
    height: 80%;
}
.row .col{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;    
}
.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

.row .col p{
    font-size: 3vmin;
    color: #7c7c7c;
    padding: 0px 40px;

}
.events .ctn{
    margin-top: 30px;

}

/* Explore */
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(/images/t4.cms);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
  width: 100%;
  padding: 50px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore-content h1{
  font-size: 6vmin;
  margin: 20px;
  font-weight: bold;
}
.explore-content p{
    margin-top: 0;
    /* text-shadow: #fc036b; */
    color: lightblue;
    /* text-decoration: solid; */
    font-weight: bold;
    font-size: 3vmin;
    /* text-rendering: optimizeLegibility; */
}
.explore-content .ctn{
    margin-top: 40px;
}
.explore-content .line{
    width: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 50px;
}

/* tours */
.content-col{
    width: 40%;
}
.image-col{
    width: 60% ;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    max-width: 300px;
    /* height: 250px; */
    margin: 10px;
    width: 90%;
}
.content-col h1{
    text-align: left;
    font-size: 7vmin;
    color: #484872;
}
.content-col .line{
    margin-left: -1px;
    width: 50%;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.tours .col{
    width: 100%;
}
.image-gallery{
    justify-content: center;
    align-items: center;
}

/* footer */

.footer{
    width: 100%;
    min-height: 100%;
    padding: 20px 80px;
    margin: 0;
    background-color: lightblue;
    text-align: center;
}
.footer p{
    font-size: medium;
    margin: 20px auto;
    color: black;
    padding: 20px auto;
}
.footer{
    padding: 10px;
}
/* Events
.row{
    flex-direction: column;
}
.col img{
    max-width: 90%;
}
.row .col{
    margin: 20px auto;
} */

.etoll{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: gainsboro;
}
